{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'aut.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" media="all">
</head>
<body>
    <div class="container">
        <div class="auth">
            <h3>Login</h3>
            <form action="{% url "login" %}" method="post">
                {% csrf_token %}
                <style>
                    h5{
                        color:red;
                    }
                </style>
                {% for message in messages %}
                    <h5>{{message}} </h5>
                {% endfor %}
                <label for="username">Username:</label>
                <input type="text" name='username'>
                <hr>
                <label for="password">Password:</label>
                <input type="password" name="password" id="pass">
                <hr>
                <button type="submit">Login</button>
                <div class="links">
                    <a href="#">forgot password?</a>
                    <a href="{% url "signup" %}">Create account</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>